@use "sass:color";
@import "styles/variables";
@import "styles/mixins";

.mainPage {
  margin-top: 2rem;

  @include media-breakpoint-down(lg) {
    margin-top: 1rem;
  }

  @include media-breakpoint-down(md) {
    margin-top: 0.5rem;
  }
}
