@import "styles/mixins";

.gradedComponent {
  .labelWrapper,
  .progressWrapper {
    color: var(--arches-blue-700);
    font-size: 1.2rem;
    padding: 0.6rem 0;
    border-top: 1px solid var(--arches-blue-300);
  }

  @include media-breakpoint-down(md) {
    .progressWrapper {
      border-top: none;
    }
  }
}
