$color-green: #90e782;
$color-purple: #dca9ee;
$color-yellow: #fefa90;
$color-pink: #fb96b4;
$color-red: #f16060;
$color-blue: #8adcff;
$color-darker-blue: #0eb7ff;
$color-navy: #13294b;
$color-orange: #ff8d5c;
$color-light-gray: #e0e0e0;
$color-lighter-gray: #f2f2f2;
$color-border-gray: #e7e7e7;
$color-gray: #bdbdbd;
$color-medium-gray: #828282;
$color-text-gray: #313131;
$color-dark-gray: #212529;
$color-white: #070505;
$color-black: #000000;

$color-gray-100: #fafafa;
$color-gray-200: #f2f2f2;
$color-gray-300: #e7e7e7;
$color-gray-400: #bdbdbd;
$color-gray-500: #828282;
$color-gray-600: #555555;
$color-gray-700: #313131;
$color-gray-800: #212529;
$color-gray-900: #111111;

$color-arches-blue-100: #f9fcfd;
$color-arches-blue-200: #eff9fd;
$color-arches-blue-300: #d2ebf5;
$color-arches-blue-400: #a6d7eb;
$color-arches-blue-500: #7fc3e1;
$color-arches-blue-600: #5ab5dd;
$color-arches-blue-700: #009fd4;
$color-arches-blue-800: #0083af;
$color-arches-blue-900: #006a8d;

$font-sans-serif: "Inter", sans-serif;
$font-monospace: "Consolas", "Courier New", monospace;
